<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>注文完了</title>
    </head>
    <body>
        <h1>ご注文が完了しました！</h1>
        <h2>お受け取りまで今しばらくお待ち下さいませ!</h2>
       <div style="text-align: left">
           <a href="{{constant('ec\\Bootstrap::ENTRY_URL')}}list.php" class="badge badge-primary">一覧へ戻る</a></div>
    </body>
</html>